examples/decode and encode again.json
[{"id":"4fc1d135ea3afdce","type":"jpeg-turbo","z":"5623aa0bb38bbf0e","name":"","action":"decode","image":"payload","imageWidth":"width","imageWidthType":"msg","imageHeight":"height","imageHeightType":"msg","result":"payload","format":"rgb","quality":75,"_mcu":{"mcu":false},"x":600,"y":720,"wires":[["1cc19e2ad40da870","1c944d8bf2b72c0c"]]},{"id":"63c466f35d9bf849","type":"image","z":"5623aa0bb38bbf0e","name":"","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"_mcu":{"mcu":false},"x":980,"y":720,"wires":[]},{"id":"1cc19e2ad40da870","type":"jpeg-turbo","z":"5623aa0bb38bbf0e","name":"","action":"encode","image":"payload.data","imageWidth":"payload.width","imageWidthType":"msg","imageHeight":"payload.height","imageHeightType":"msg","result":"payload","format":"rgb","quality":75,"subSampling":"420","_mcu":{"mcu":false},"x":780,"y":720,"wires":[["63c466f35d9bf849","60aaa75e1aeaf87c"]]},{"id":"895781f009ed6e25","type":"http request","z":"5623aa0bb38bbf0e","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://images.unsplash.com/photo-1461800919507-79b16743b257?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"_mcu":{"mcu":false},"x":410,"y":720,"wires":[["4fc1d135ea3afdce"]]},{"id":"217f2580604d135d","type":"inject","z":"5623aa0bb38bbf0e","name":"Get snapshot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","_mcu":{"mcu":false},"x":210,"y":720,"wires":[["895781f009ed6e25"]]}]
